<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OldRootPath" value=""/>
    <add key="NewRootPath" value=""/>
    <add key="PatchPath" value=""/>
    <add key="PatchTargetRootPath" value=""/>
    <add key="CompressType" value=""/>
  </appSettings>
</configuration>